header {
    display: flex;
    justify-content: space-around; /* This will space out the images evenly */
    align-items: center; /* This will align images vertically */
}
header .img1 {
    position: absolute;
    right: 100px;
    top: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #bc2e22;
    z-index: 10;
}
header .img2 {
    position: absolute;
    right: 200px;
    top: 250px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #bc2e22;
}
header .img3 {
    position: absolute;
    right: 300px; /* 修改这个值，确保图片不会超出屏幕 */
    top: 400px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #bc2e22;
}

header ul {
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
}

header ul li {
	width: 9.7%;
}

header ul li a {
	color: #fff;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid gray;
	text-align: center;
	line-height: 45px;
	font-size: 14px;
	border-radius: 5px;
}

header ul li a:hover {
	color: #bc2e22;
	background-color: rgba(0, 0, 0, 0.6);
}

main .text {
	width: 45%;
	padding: 20px;
}

main h1 {
	color: #fff;
	line-height: 50px;
	text-align: center;
	margin-left: 50px;
}

main .text p {
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
	margin-left: 300px;
}

main .ping {
	width: 45%;
	text-indent: 2em;
	font-size: 14px;
	line-height: 30px;
	padding: 20px;
	margin-left: 300px;
}

main .ping .p1 {
	color: #fff;
}

main .ping .p2 {
	color: #fff;
}

main .ping .p3 {
	color: #fff;
}

main p span {
	display: block;
	margin-left: 340px;
}